*{
    margin:0;
    padding:0;
}
.invoice_align_right{
    text-align: right;
    color:green;
}
.sirajganj{
    color:green;
}
.cart_header_table{
    border-collapse: collapse;
}
.cart_header_table .tr_heading{
    background-color:#B1E693;
}
.cart_tbody tr:nth-child(even){
    background-color: #f1f1f1;
}
tfoot tr{
    background-color: #D4ECDD;
    border:1px solid rgb(61, 60, 60);
}
